<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCTY Benefits</title>
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2 class="bg-dark text-white p-2">PCTY Benefits</h2>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>